.chat-room {
    height: 100vh; 
    overflow-y: hidden;
}

.chat-box {
    position: absolute; 
    bottom: 5px;
    width: 95%;
}

.chat-box > .input[type=text] {
    height: 45px;
    font-size: 18px;
    padding: 8px;
}

.chat-form > .btn {
    height: 45px;
}
