.rooms-sidebar {
    border-right: 1px solid #eeeeee;
}

.chat-room {
    height: 100vh; 
    overflow-y: scroll;
}

.chat-box {
    position: absolute; 
    bottom: 5px;
    width: 95%;
}

.chat-box > .input[type=text] {
    height: 45px;
    font-size: 18px;
    padding: 8px;
}

.chat-form > .btn {
    height: 45px;
}

.message {
   min-height: 60px;
}

.message > .content-container {
   display: inline-block; 
}

.content-container > .content {
    background-color: #eeeeee;
    padding: 8px 18px;
    border-radius: 15px;
}

.me > .content-container {
    float: right;
    .content {
        background-color: #007bff;
        color: white;
    }
}

.content-container > .author {
    font-size: 0.8rem;
    color: #777777;
    margin-left: 10px;
}

.card.no-outline {
    border: none;
}

.room-link {
   &:hover {
       text-decoration: none;
   }
}

.room-card {
    border-radius: 20px;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: #eeeeee;
    }
} 

.room-card {
    &.active {
        background-color: black;

    .name {
        color: white;
    }
    
    .member-count {
        color: #e0e0e0;
    }

    }
}

.room-card {
    .name {
        font-weight: bold;
        color: black;
    }

    .member-count {
        color: #777777;
        font-weight: light;
    }
}
